@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  @apply bg-white text-black dark:bg-[#202020] dark:text-white ;
}

a{
  @apply dark:text-[#8d92f0];
}
a:hover{
  @apply dark:text-[#afb2ef];
}

.toggleTheme{
  @apply fixed bottom-4 right-4 bg-gray-800 rounded-lg dark:bg-gray-300;
}
