@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


html {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    @apply dark:bg-gray-900
}
main{
    @apply px-10 dark:bg-gray-900;
}
@layer components{
    .title{
        @apply mb-5 text-4xl font-extrabold text-blue-800
    }
    .btn-delete{
        @apply cursor-pointer rounded bg-red-500 px-2 py-1 font-bold text-white hover:bg-red-400 transition-colors;
    }
    .link-a{
        @apply border-b-2 text-white transition-colors hover:text-blue-400 dark:hover:text-blue-700;
    }
    .btn-settings{
        @apply text-gray-600 hover:bg-gray-200 w-full text-start rounded my-1 p-1.5 hover:text-black cursor-pointer dark:text-gray-200 dark:hover:bg-gray-700 dark:hover:text-gray-300;
    }
}