* {
    padding: 0%;
    margin: 0;
}
nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.home{
    text-decoration: none;
    color: gainsboro;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 15%;
}
.pages{
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    color: rgb(73, 73, 73);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-right: 15%;
}
.pages li a{
    text-decoration: none;
    color: inherit;
}
main {
    background-color: gainsboro;
}
.introduction{
    padding-top: 2rem;
    text-align: center;
}
.banner{
    width: 60vw;
    border-radius: 25px;
}

.card{
    background-color: white;
    position: relative;
    border-radius: 20px;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-top: -10rem;
    left: 25%;
    width: 50%;
}
.card h1{
    font-size: 4rem;
    font-weight: 500;
    padding-right: 3rem;
    padding-left: 3rem;
}
.card p{
    margin-top: 1rem;
    text-align: center;
    color: rgb(50, 50, 50);
    padding-right: 2rem;
    padding-left: 2rem;
    line-height: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card button{
    margin-top: 1rem;
    background-color: rgba(170,179,208,255);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-style: none;
    border-radius: 30px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
}